{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<section class="contact-section">
  <div class="contact-container">

    <h2>Contact Me</h2>
    <p class="contact-intro">
      Feel free to reach out via email, LinkedIn, phone, or check my coding profiles.
    </p>

    <!-- Contact Form (NOW AT TOP) -->
    <div class="contact-form-box">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-row">
                <label>Your Name :</label>
                <input type="text" required
                pattern="[A-Za-z\s]+"
                title="Only letters are allowed">

            </div>

            <div class="form-row">
                <label>Your Email :</label>
                <input type="email" required>
            </div>

            <div class="form-row">
                <label>Subject :</label>
                <input type="text" required>
            </div>

            <div class="form-row">
                <label>Your Message :</label>
                <textarea rows="4" required></textarea>
            </div>

            <div class="form-row">
                <label>Upload File :</label>
                <input type="file" accept=".jpg,.jpeg,.pdf">
            </div>

            <button type="submit">Send Message</button>
        </form>
    </div>

    <!-- Personal Contact Info -->
    <div class="contact-info">
        <div class="contact-card">
            <h3>LinkedIn</h3>
            <p><a href="https://www.linkedin.com/in/naveena-ananthakumar-6928b6336" target="_blank">linkedin.com/in/naveena-profile</a></p>
        </div>
        <div class="contact-card">
            <h3>Email</h3>
            <p><a href="mailto:naveenaananth06@gmail.com">naveenaananth06@gmail.com</a></p>
        </div>
        <div class="contact-card">
            <h3>Phone</h3>
            <p>+91-8778361598</p>
        </div>
    </div>

    <!-- Coding Profiles -->
    <div class="coding-profiles">
        <h3>Coding Profiles</h3>
        <div class="profile-links">
            <a href="https://leetcode.com/u/Naveena_06/" target="_blank">LeetCode</a>
            <a href="https://www.geeksforgeeks.org/profile/naveenaa0qed" target="_blank">GeeksforGeeks</a>
            <a href="https://github.com/dashboard" target="_blank">GitHub</a>
        </div>
    </div>

  </div>
</section>

{% endblock %}